:root{
    /* Color Variables Start Here */
    --color-black: #111;
    --color-white: #fff;
    --bg-dark: #13aa6b;
    --text-green:#13aa6b;
    --bg-light: #f9f9f9;
    --bg-white: #fff;
    /* Color Variables End Here */

    /* Font Family Varibles Start Here */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* Font Family Varibles End Here */

    /* Font Size Variables Start Here */
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs28: 28px;
    --fs36: 36px;
    --fs48: 48px;
    /* Font Size Variables End Here */

    /* Font Weight Variables Start Here */
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    /* Font Weight Variables End Here */

    /* Border Variables Start Here */
    --border1: 1px solid #ddd;
    /* Border Variables End Here */

    /* Border Radius Variables Start Here */
    --border-radius-5: 5px;
    --border-radius-10: 10px;
    /* Border Radius Variables End Here */
}
@media screen and (max-width:991px){
    .main_heading{
        font-size: var(--fs28);
    }
}
@media screen and (max-width:767px){
    .d_grid_images_row{
        column-count: 2;
    }
    .search_outer,
    .hot_search{
        width: 100%;
    }
    .navigation .logo_text{
        padding-block: 40px;
    }
    .main_heading{
        font-size: var(--fs24);
    }
}
@media screen and (max-width:575px){
    .navigation .logo_text{
        padding-block: 20px;
    }
    .main_heading{
        font-size: var(--fs20);
    }
    .d_grid_images_row{
        column-count: 1;
    }
    .footer_links {
        display: block;
        column-count: 2;
        width: 100%;
    }
    .footer_links li{
        margin-bottom: 12px;
    }
}
@media screen and (min-width:768px){
    .d_grid_images_row .d_grid_image_box{
        gap: 2rem;
        column-width:30vw;
        -webkit-column-width: 30vw;
        -moz-column-width: 30vw;
    }
    .d_grid_image_box{
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        page-break-inside: avoid;
    }
    .d_grid_images_row{
        column-count: 3;
    }
}
@media screen and (min-width:1024px){
    .d_grid_images_row{
        column-count: 4;
    }
}
@media screen and (min-width:1280px){
    .d_grid_images_row{
        column-count: 5;
    }
}
@media screen and (min-width:1440px){
    .d_grid_images_row{
        column-count: 6;
    }
}
@media screen and (min-width:1920px){
    .d_grid_images_row{
        column-count: 6;
    }
}
@media screen and (min-width:2560px){
    .d_grid_images_row{
        column-count: 8;
    }
}
@media screen and (min-width:4096px){
    .d_grid_images_row{
        column-count: 20;
    }
}