@import url('font.css');

:root {
    /* Color Variables Start Here */
    --color-black: #111;
    --color-white: #fff;
    --bg-red-dark: #dc3546;
    --bg-red-secondary: #44090f;
    --text-red: #dc3546;
    --text-yellow: #ffc800;
    --text-light-blue: #00c4ff;
    --bg-light: #f9f9f9;
    --bg-white: #fff;
    /* Color Variables End Here */

    /* Font Family Varibles Start Here */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* Font Family Varibles End Here */

    /* Font Size Variables Start Here */
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs28: 28px;
    --fs36: 36px;
    --fs48: 48px;
    /* Font Size Variables End Here */

    /* Font Weight Variables Start Here */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    /* Font Weight Variables End Here */

    /* Border Variables Start Here */
    --border1: 1px solid #ddd;
    /* Border Variables End Here */

    /* Border Radius Variables Start Here */
    --border-radius-5: 5px;
    --border-radius-10: 10px;
    /* Border Radius Variables End Here */
}

/* Reset Css Start Here */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    user-select: none;
}

body {
    font-family: var(--primary-font);
    background: linear-gradient(180deg, #ffedee, rgba(217, 217, 217, 0));
    font-size: var(--fs16);
    color: var(--color-black);
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-track {
    background: 0 0;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-red-dark);
    border-radius: 10px
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #666
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header CSS Start Here */
.header {
    width: 100vw;
    background: linear-gradient(45deg, #ffeded, #ffd5d5);
}

.navigation {
    background: linear-gradient(270deg, #fff, #ffeded);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.nav-links {
    text-decoration: none;
    color: var(--color-black);
    padding: 20px;
    font-family: var(--primary-font);
    font-weight: var(--fw-600);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-links.active,
.nav-links:focus,
.nav-links:hover {
    color: var(--color-white);
    background-color: var(--bg-red-dark);
}

.main-nav {
    display: flex;
    list-style-type: none;
}

.logo {
    font-size: 20px;
    text-decoration: none;
    color: var(--color-white);
}

.logo .logo-img {
    width: 160px;
    height: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 999;
    /* Ensure overlay is above everything except the menu */
    display: none;
    /* Initially hidden */
}

.overlay.active {
    display: block;
    /* Show overlay when menu is active */
}

/* Add a class to make the navbar sticky */
.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.5s forwards;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
}

/* Define the animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Search Outer */
.search_outer {
    margin: 0 auto;
    position: relative;
    width: 700px;
    height: 85px;
}

.search_outer .search_input {
    height: 50px;
    border: 3px solid var(--bg-red-dark);
    background: rgba(255, 255, 255, .95);
    width: 100%;
    text-indent: 20px;
    border-radius: 5px;
    font-size: 15px;
    float: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.search_outer .search_icon {
    border: 0;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -50px;
    margin-right: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><path d="M19.427 21.427A8.46 8.46 0 0 1 14.5 23a8.5 8.5 0 1 1 0-17 8.5 8.5 0 0 1 8.5 8.5 8.46 8.46 0 0 1-1.573 4.927l5.585 5.585c.55.55.546 1.43 0 1.976l-.023.023a1.4 1.4 0 0 1-1.976 0l-5.585-5.585zM14.5 21a6.5 6.5 0 1 0 0-13 6.5 6.5 0 1 0 0 13z" fill="%2313aa6b" fill-rule="evenodd"/></svg>');
    cursor: pointer;
    background-size: 53%;
}

.search_outer .search_input:focus-visible,
.search_outer .search_input:focus {
    border: 3px solid var(--bg-red-dark);
}

.hot_search {
    text-align: center;
    color: var(--color-white);
    width: 700px;
    margin: auto;
}

.hot_search ul {
    display: inline-block;
    padding-bottom: 30px;
    text-align: left;
}

.hot_search ul li {
    display: inline-block;
    padding-bottom: 8px;
}

.hot_search ul li a {
    color: var(--bg-red-dark);
    text-decoration: underline;
    padding: 0 5px;
}

/* Main CSS Start Here */
.main_wrapper {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.main_images_section {
    width: 100%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.main_heading {
    font-family: var(--secondary-font);
    font-size: var(--fs36);
    color: var(--color-black);
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: var(--fw-800);
}

.d_grid_images_row {
    column-count: 5;
    column-gap: 20px;
}

.d_grid_images_row .d_grid_image_box {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.d_grid_images_row .d_grid_image_box .card_box {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    border: var(--border1);
    border-radius: var(--border-radius-10);
    -webkit-border-radius: var(--border-radius-10);
    -moz-border-radius: var(--border-radius-10);
    -ms-border-radius: var(--border-radius-10);
    -o-border-radius: var(--border-radius-10);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.d_grid_images_row .d_grid_image_box .card_box:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    transform: translate3d(0, -2px, 0);
}

.d_grid_images_row .d_grid_image_box figure {
    margin: 0;
}

.d_grid_images_row .d_grid_image_box figure .box_img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-10);
    -webkit-border-radius: var(--border-radius-10);
    -moz-border-radius: var(--border-radius-10);
    -ms-border-radius: var(--border-radius-10);
    -o-border-radius: var(--border-radius-10);
}

.d_grid_images_row .d_grid_image_box figure figcaption {
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    line-height: 1.3;
    font-size: 0.8em;
    font-weight: var(--fw-600);
    font-family: var(--secondary-font);
}

.d_grid_images_row .d_grid_image_box_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.d_grid_images_row .d_grid_image_box_footer .left,
.d_grid_images_row .d_grid_image_box_footer .right {
    font-size: var(--fs16);
    font-family: var(--secondary-font);
    font-weight: var(--fw-500);
    line-height: normal;
}

.load_more {
    display: flex;
    justify-content: center;
}

.load_more_btn {
    font-size: var(--fs16);
    font-family: var(--primary-font);
    font-weight: var(--fw-500);
    background-color: var(--bg-red-dark);
    color: var(--color-white);
    padding: 10px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: inline-block;
    margin: 20px auto 20px auto;
    text-align: center;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.load_more_btn:hover {
    background-color: #222;
    color: var(--color-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    transform: translate3d(0, -2px, 0);
}

/* Detail Page Css Start Here */
.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.detail_image {
    background-color: #fff;
    width: 75%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.detail_main_title {
    padding-top: 20px;
    text-align: center;
    font-size: var(--fs20);
    font-weight: var(--fw-600);
    font-family: var(--secondary-font);
    margin-bottom: 30px;
}

.detail-main_image img {
    width: 100%;
    display: block;
    height: auto;
}

.detail-main_image figcaption {
    background-color: #feffb4;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.image_specification .left_h2 {
    font-size: var(--fs24);
    font-family: var(--primary-font);
    font-weight: var(--fw-600);
    background-color: #ffd5d5;
    color: var(--color-black);
    padding: 8px 10px;
    position: relative;
    margin-block: 20px;
}

.image_specification .left_h2::before {
    content: '';
    background-color: var(--bg-red-dark);
    height: 40px;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.tag_ul li {
    margin-bottom: 10px;
}

.tag_ul li,
.tag_ul li a {
    display: inline-block;
    background-color: #f7f7f7;
    color: var(--color-black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.tag_ul li a {
    padding: 6px 8px;
    cursor: pointer;
}
.tag_ul li a:hover{
    background-color: var(--bg-red-dark);
    color: var(--color-white);
}

.info_list div:nth-child(1) {
    border-top: none;
}

.info_list div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dotted var(--bg-red-dark);
}

.info_list .info_title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dld_btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--fs16);
    font-family: var(--primary-font);
    background-color: var(--bg-red-dark);
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.dld_btn:hover {
    background-color: var(--bg-red-secondary);
    color: var(--color-white);
}

.right_sidebar {
    width: 25%;
    background-color: var(--bg-light);
    height: 600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Footer CSS Start Here */
.footer {
    background-color: var(--bg-red-secondary);
    padding: 15px 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright_left,
.copyright_right {
    color: var(--color-white);
    font-size: var(--fs14);
}

.copyright_left a,
.copyright_right a {
    color: var(--text-yellow);
    font-weight: var(--fw-700);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.copyright_left a:hover,
.copyright_right a:hover {
    color: var(--text-light-blue);
}

#scrollTopBtn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-red-dark);
    /* Change to your desired logo color */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 1000;
}
#scrollTopBtn svg{
    color: var(--color-white);
    height: 28px;
    width: 28px;
}
#scrollTopBtn.show {
    display: flex;
}